html {
  scroll-behavior: smooth;
}

$mainColor: #1CA3D5;
$seconderColor: #231F20;
$secBG: #F2F2F2;
$darkTypo: #231F20;
$grayTypo: #808080;

button,
a {
  outline: none;
  box-shadow: none;
  transition: all .5s;
  text-decoration: none;
}

a {
  color: #000;
}

ul,
ol {
  list-style: none;
}

a {
  outline: none;
  box-shadow: none;
  color: $mainColor;
  transition: all .5s;
}

.clearfix {
  clear: all;
}

a:hover {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

.btn:hover {
  background-color: $darkTypo ;
  color: #fff !important;
}

section {
  overflow: hidden;
}

.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
}

body {
  font-size: 14px;
  background: #fff;
  font-weight: 500;
  position: relative;
}

html,
body {
  direction: ltr !important;
}

.title {
  font-size: 40px;
  margin-bottom: 30px;
}
.rtl{
  direction: rtl !important;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Tajawal", sans-serif;
}

.btn.btn-primary {

  //   border-radius: 0 !important;
  //   background-color: transparent;
  //   padding: 10px 28px !important;
  //   border-color: #fff !important;
  //   color: #fff;
  //   border-radius: 8px !important;
  //   font-size: 18px;
  //   box-shadow: none;
  //   line-height: 20px;
  &:hover {
    background-color: $secBG !important;
    box-shadow: none;
    color: $mainColor !important;
  }
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  background-color: $mainColor !important;
  box-shadow: none;
  outline: none;
}

.navbar .dropdown-toggle::after {
  margin-left: 0 !important;
}

//Header
.navbar,
.headerBg {
  background-color: transparent !important;
  padding: 16px 0;
}

// .headerBg{
//   border-bottom: 1px solid #CACFE4;
// }
.bg-dark {
  background-color: $darkTypo !important;
}

.shadow {
  box-shadow: 0 0 8px 1px #c2c2c226 !important;
}

.top-bar {
  height: 135px;
}

.logo {
  height: auto !important;
  width: 100%;
  // padding: 20px;
}

.carousel-caption h1 span {
  color: $secBG;
  background-color: $mainColor;
  padding: 4px;
}
.carousel-caption{
  padding-top: 130px;
}
.withAppAlert .carousel-caption{
  padding-top: 230px;
}
.carousel-item>img {
  height: 100% !important;
}

.nav-item.dropdown,
.nav-link {
  color: #fff !important;
  font-size: 16px;
}

.navbar .navbar-nav .nav-link {
  font-size: 18px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: $mainColor !important;
  position: relative;
}

.navbar .navbar-nav .nav-link {
  position: relative;
}

a.nav-link.dropdown-toggle.active::after {
  display: block;
  width: 111% !important;
}

.text-white {
  color: #fff;

  // i {
  //   border: 1px solid #fff;
  //   border-radius: 50%;
  //   height: 30px;
  //   width: 30px;
  //   line-height: 30px;
  //   text-align: center;
  // }
}

.socailMedia a {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: $mainColor !important;
    border-color: var(--light);
  }
}

.circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  background-color: #1CA3D5;
}

.carousel-indicators {
  display: -moz-box;
  right: auto;
  width: 100%;
  margin: 0 !important;
  bottom: 16px;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  background-color: #fff;
  display: block;
  opacity: 1;
  margin: 3px;
}

.carousel-indicators .active {
  background-color: #1CA3D5 !important;
}

.carousel-caption {
  text-align: left;
  position: relative;
  min-height: 100vh;
  z-index: 1;

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 18px !important;
  }

  .caption-btn {
    background-color: #1CA3D5 !important;
    font-size: 20px;
    padding: 15px 20px !important;
    // border: none !important;
    // display: flex;
    // justify-items: center;
    // align-items: end;


    &:hover {
      background-color: transparent !important;
      border: 1px solid #fff !important;
      color: #fff !important;
    }
  }
}

.carousel-inner .carousel-item>img{
position: absolute;
z-index: 0;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

// start Car Forms ==>Esraa Ghareeb<==
.carForm {
  display: none;
  background: #fff;

  ::-webkit-scrollbar {
    width: 14px;
    height: 3px;
  }
  
  /* Define the track (the area where the thumb doesn't cover) */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the track */
  }
  
  /* Define the thumb (the draggable handle) */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners of the thumb */
  }
  
  /* Define the corners of the scrollbar */
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1; /* Color of the corners */
  }
   

  .form-title {
    font-size: 18px;
    font-weight: 700;
  }

  a {
    color: #000;
    font-weight: 500;
  }

  .form-check {
    padding: 0;
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 16px;

    label {
      font-weight: 500;
      cursor: pointer;
    }

    &-input:checked+label {
      color: #0299f8;
    }

    &-input {
      opacity: 0;
      display: none;
    }
  }

  .carColor {
    .form-check-input+label {
      border: 2px solid transparent;
      padding: 2px 7px;
      border-radius: 5px;
    }

    .form-check-input:checked+label {
      border-color: #0299f8;
    }
  }

  .vecheils-list {

    .vecheil-check {

      img {
        height: 100px !important;
        padding: 5px 10px;
        object-fit: contain;
        width: 100px;
        margin: 2px;
        border-radius: 10px;
        border: 2px solid #aaa;

      }
    }

    .form-check-input:checked+label {
      color: #000;

      img {
        border-color: #0299f8;
      }
    }
  }

  .models-list,
  .years-list {
    label {
      padding: 10px 15px;
      margin: 2px;
      font-size: 16px;
      min-width: 90px;
      border-radius: 10px;
      white-space: nowrap;
      border: 2px solid #aaa;
    }

    .form-check-input:checked+label {
      border-color: #0299f8;
    }

  }

  .btns-submit-step {
    .btn {
      min-width: 200px;
    }
  }

  .color-sq {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
 /* Add your loading animation styles here */
 .loading-placeholder {
  background-color: #eee;
  animation: loadingAnimation 1s infinite alternate;
  height: 50px;
  width: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
}

@keyframes loadingAnimation {
  to {
    background-color: #ddd;
  }
}
.bg-red {
  background-color: red;
}

.bg-green {
  background-color: #126639;
}

.bg-blue {
  background-color: blue;
}

.bg-gray {
  background-color: gray;
}

.bg-black {
  background-color: black;
}

// End Car Forms
// Payment Section
#profile,
#Payment {
  padding: 40px 0;
  margin-top: -200px;
  .profile,
  .payment {
    &-sec {
      margin: 40px 0;
      background: #fff;
      z-index: 11;
      position: relative;
      border: 1px solid #AAA;
      .profile-info,
      .order-details,
      .payment-method {
        height: 100%;
        border: 1px solid #AAA;
        .form-control{
          padding: 12px; 
          margin: 13px 0;
          border: 1px solid #aaa;
        }
      }
.order-img{
  width: 85px !important;
  height:85px !important;
}
      .payment-check {
        .form-check {
          padding: 10px;
          margin: 13px 0;
          border: 1px solid #aaa;
          border-radius: 4px;
          padding-inline-start: 3em;
          label{
          
            color: #000;
          }
          .form-check-input {
            float: right;
            height: 20px;
            width: 20px;
            margin-top: 0.4em;
            border: 2px solid;
            margin-inline-start: -2em;
          }
          .form-check-input:checked{
            border: 3px solid #fff !important;
            box-shadow: 0 0 0 1px #0299f8;
          }
          .form-check-input:checked+label {
            color: #0299f8;
          }
        }
      }
      .card-num{ 
        background: url(../img/card.svg) left 10px center/35px no-repeat;
      }
       
    }
  }
}

//About us
#aboutUs {
  background-color: #EEEEEE;
  padding: 40px 0;

  p {
    text-align: left;
  }

  h2 {
    color: $mainColor;
  }
}

//services
#whyUs {
  padding: 40px 0;
  background-color: #fff;

  .card {
    border: 1px solid #E9E9E9;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    margin-bottom: 16px;

    img {
      height: 50px;
      width: 50px;
      margin: 10px auto;
    }

    p {
      font-size: 18px;
      margin-bottom: 0;
      color: #231F20;
    }
  }
}

//services
#services {
  padding: 40px 0;
  background-color: #fff;

  h1 {
    color: $darkTypo;
    font-size: 32px;
    margin-bottom: 16px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;
    color: $darkTypo;
  }

  .fa-ul {
    padding: 0 !important;
    margin: 0 !important;
  }

  .info {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    p {
      margin: 0 8px;
    }

    img {
      object-fit: cover;
    }
  }

  .photos {
    position: relative;
    text-align: center;
  }

  .photo1 {
    position: absolute;
    z-index: 1;
    top: 0;
  }

  .photo1 {
    position: absolute;
    z-index: 3;
    top: 130px;
    left: 50px;
  }

  .photo3 {
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    bottom: -150px;
    left: -30px;
    width: 156px;
    height: auto;
    text-align: center;
    background-color: #fff;

    img {
      height: 30px;
      width: 30px;
      margin: 16px auto;
    }
  }
}

//vision
#vision {
  background-color: #fff;
  margin: 40px 0 80px;

  .card-container {
    border: 1px solid #E9E9E9;
    padding: 30px;
    margin-bottom: 16px;
    text-align: center;

    img {
      height: 32px;
      width: 32px;
    }

    h1 {
      font-size: 18px;
      color: #000;
      margin: 16px 0;
      font-weight: 700;
    }

    p {
      margin-bottom: 0;
      color: #31353B;
      font-size: 16px;
    }
  }
}
//About us
#aboutUs {
  background-color: #2C2D92;
  color: #fff;
  padding: 40px 0;
  p{
    text-align: left;
  }
  h2,h1{
    color: #fff;
  }
}
//services
#photoServices{
  img{
    border-radius: 8px;
    margin-bottom: 8px;
    width: 100%;
  }
  p{
    font-size: 18px;
    color: #000;
  }
  .soon{
    color:#CF181D
  }
}
#certification{
  margin: 40px auto 0;
  text-align: center;
  background-color: #EEEEEE;
  padding: 80px 0;
  h1{
    text-align: center;
    margin-bottom: 40px;
  }
  img{
    padding: 16px;
  }
}
//footer
footer {
  position: relative;
  background-image: url("../img/footerBg.png");
  background-size: cover;
  background-position: center;
  color: #fff;

  ul {
    padding: 0;
    margin: 0;
  }

  .contactInfo {
    color: #fff;

    img {
      height: 18px !important;
      width: 18px;
    }

    li {
      margin-bottom: 16px;
    }
  }

  .bg {
    background-color: #001038b5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .footerContent {
    position: relative;
    z-index: 1;
  }

  img.logo {
    height: auto !important;
  }

  .btn.btn-link {
    color: #fff !important;
  }

  p {
    color: #fff;
  }

  .footer .btn.btn-link::before {
    content: " ";
  }

  .footer .btn.btn-link:hover {
    color: $mainColor !important;
    background-color: transparent;
    font-weight: 600;
  }

  .btn-square {
    border-radius: 50%;
    color: #fff !important;
    background: transparent !important;
    border: 1px solid #fff !important;

    &:hover {
      color: #fff !important;
    }
  }

  .download {
    font-size: 18px;
    font-weight: 700;
  }

  .apps {
    img {
      height: 33px !important;
      width: 90px;
    }
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #E9E9E9;
    margin-top: -140px;

    .btn.btn-primary {
      background-color: $mainColor;
      color: #fff;
    }
  }

  .copyright {
    text-align: center;
    padding-bottom: 0;

    p {
      margin-bottom: 0;
    }
  }

  .social {
    display: flex;

    a {
      color: $mainColor !important;
      border-color: $mainColor !important;

      &:hover {
        background-color: $mainColor !important;
        color: #fff;
      }
    }
  }
}

.responsiveLogo {
  display: none;
}

.displayClass {
  display: none !important;
}

//login
body.login {
  height: 100%;
  overflow: hidden;
}

form {

  .btn.btn-primary {
    background-color: $mainColor;
    color: #fff;
  }
}

@media screen and (max-width: 1200px) {
  .displayClass {
    display: none !important;
  }

  .d-sm-none {
    display: block !important;
  }

  .navbar .navbar-nav .nav-link {
    margin-right: 16px !important;
    font-size: 10px !important;
  }

  #whyUs .card p {
    height: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .displayClass {
    display: none !important;
  }

  .navbar .navbar-nav .nav-link {
    margin-right: 16px;
    font-size: 10px;
  }

  #whyUs .card p {
    height: 40px;
  }
}

@media screen and (max-width: 991px) {
  #whyUs .card p {
    height: 65px;
  }

  .navbar .navbar-nav .nav-link {
    font-size: 16px;
  }

  .d-sm-none {
    display: none;
  }

  .topHead .info.address {
    display: none !important;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: flex;
  }

  .displayClass {
    display: none !important;
  }

  .carousel-item img {
    // height: 500px !important;
  }

  .carousel-caption h1 {
    font-size: 24px;
  }

  .carousel-caption p {
    font-size: 14px !important;
    margin-bottom: 16px !important;
  }

  .carousel-caption {
    top: -1px; 
  }

  .navbar .navbar-nav .nav-link.active::after {
    width: 0% !important;

    footer {
      padding: 0px 0;

      .pt-5 {
        padding-top: 0 !important;
      }

      h5 {
        margin-top: 30px;
      }
    }

    .footer .copyright {
      font-size: 13px;
    }

    .width {
      width: 50%;
      text-align: center;
      margin: 0 auto;
    }

    .navbar-brand {
      display: none;
    }
  }

  .responsiveLogo {
    display: block !important;
    height: 50px !important;
    width: 100% !important;
  }

  a.nav-link.dropdown-toggle::before {
    left: 144px;
  }

  .displayClass {
    display: block !important;
    padding-bottom: 20px;
    padding-right: 46px;

    .socailMedia {
      margin-top: 16px;
    }
  }

  .displayClass .nav-item.dropdown a::before {
    left: 110px;
  }

  .largeScreen {
    display: none !important;
  }

  .navbar .navbar-nav {
    padding-bottom: 0 !important;
  }

  .navbar .navbar-nav .nav-link {
    font-size: 16px !important;
  }

  .navbar-collapse {
    background-color: $darkTypo !important;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .navbar,
  .headerBg {
    padding: 10px 0;
  }

  .carousel-caption {
    text-align: center;
  }

  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
  }

  #services {
    padding-top: 0;
    padding-bottom: 155px;
  }

  #services .photo3 {
    left: 0;
  }

  .carousel-caption .btn.btn-primary {
    font-size: 16px;
    align-items: center;
    padding: 12px !important;
    // margin-bottom: 30px;
  }

  #whyUs {
    padding-bottom: 20px;
  }

  #vision {
    margin-bottom: 20px;
  }

  .container.pt-5.footerContent {
    padding-top: 0px !important;
  }

  footer form {
    margin: 0 !important;
    margin-bottom: 0 !important;
  }

  footer h5 {
    font-size: 24px;
  }
  #services{
    .photos {
      img{
        width: 100%;
      }
    }
    .photo3{
        right: 75px !important;
    }
  }
}